version: 1.7.{build}
os: Visual Studio 2015
platform: x64

environment:
  GENERATOR: "Visual Studio 14 2015 Win64"

configuration:
- Debug
- Release

matrix:
  fast_finish: true

before_build:
- cmake . -Bbuild -G "%GENERATOR%"
        -DCMAKE_INSTALL_PREFIX=c:/install/pmdk-convert
        -DCMAKE_SYSTEM_VERSION="10.0.26624"
        -DTESTS_USE_FORCED_PMEM=ON
        -DCMAKE_BUILD_TYPE=%CONFIGURATION%
        -DCDB_PATH="c:/Program Files (x86)/Windows Kits/10/Debuggers/x64/"

build_script:
- msbuild build/ALL_BUILD.vcxproj /property:Configuration=%CONFIGURATION%

test_script:
- cd build
- ctest -C %CONFIGURATION% --output-on-failure
- msbuild INSTALL.vcxproj
